<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <p class="navbar-brand" href="">Expense Tracker</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" href="#" routerLink="/login">Login</a>
        </li>
  
        <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#">{{loggedInUser}}</a>
          </li>
  
           
        <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" href="#" (click)="onLogoutClick()">Logout</a>
          </li>
      </ul>
    </div>
  </nav>
  
